@model TechTestMVCWebApp.Models.SearchResultComparisonModel

@{
    ViewData["Title"] = "Search Comparison";
}

@{var minListLength = Math.Min(Model.SiteAResults.SearchResults.Count, Model.SiteBResults.SearchResults.Count); }

<div class="text-center">
    @await Html.PartialAsync("_SearchBox")
</div>

<br />

<p>Displaying top results for "@ViewBag.SearchTerm"</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Model.SiteAResults.SiteName
            </th>
            <th>
                @Model.SiteBResults.SiteName
            </th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < minListLength; i++)
        {
            var itemA = Model.SiteAResults.SearchResults[i];
            var itemB = Model.SiteBResults.SearchResults[i];
            <tr>
                <td>
                    <h5><a href="@itemA.Link">@itemA.Title</a></h5>
                    @Html.DisplayFor(modelItem => itemA.Summary)
                </td>
                <td>
                    <h5><a href="@itemB.Link">@itemB.Title</a></h5>
                    @Html.DisplayFor(modelItem => itemB.Summary)
                </td>
            </tr>
        }
    </tbody>
</table>
